*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div[id$="_registration"] {
  max-width: 300px;
  margin: 25px auto;
  padding: 5px 10px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="password"]
 {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 5px;
}

button {
  padding: 9px 9px 8px 9px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
}

div[id$="_box_err"] span {
  color: #FF0000;
  font-size: 14px;
}

div[id$="_users"] {
  max-width: 350px;
  margin: 5px auto;
  padding: 5px 50px;
  background: #f4f7f8;
  border-radius: 8px;
}

h5 {
  font: 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  color: #000;
  text-align: left;
  display: block;
  width: 100%;
}
 
li:last-child {
  border: none;
}
 
li:hover {
  font-size: 20px;
  background: #f6f6f6;
}